
body{
    
    background-color: black;
    /*max-width: 500px;
    margin: auto;
  */
  margin: auto;
  width: 75%;
  padding: 10px;
}


#table1{
    color: #ffffff;
    width: 1000px;
    height: 500px;
    margin: auto;
    text-align: center;
}
.body2{  
    background-color: rgb(255, 0, 0);
}
.td1{
    background-color: red;  
}
.tr1{
    color: royalblue;
}
label{ 
    border-right: 300px solid;
    border-left: 300px solid;
    border-color:  rgb(255, 0, 0);
}